/* html,body{
    overflow-x: hidden;
    
} */

header{
    background-color: #224362;
    height:80px;

}
.navbar{
    
    background-color: rgb(34, 67, 98,0.7);
}
.content{
    min-height: calc(100vh - 160px);
}
.breadcrumb-section{
    /* background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */
    position: fixed;
    top:80px;
    width:100%;
}
.paper-link{
    /* color:#6aabb1; */
    color:#224362;
}
.project-heading, .seminar-name, .activity-name{
    color:#224362
}
.paper-link:hover{
    color:#141f2a;
}

.column1-color{
    /* background-color: #224362; */
    background-color: rgb(34, 67, 98,80%);
    
    color:white;
}

.footer{
    background-color: #224362;
    color:white;
    height: 80px;
}
.icon-color{
    color: white;
}
