
/* html,body{
    overflow-x: hidden;
} */

header{
    height:80px;
    background-color: #224362;
}
.navbar{
    background-color: rgb(34, 67, 98,0.7);
    
    /* background-image: linear-gradient(to right, #224362,#89C0C5,#224362); */
}
.content{
    min-height: calc(100vh - 160px);
}
.carousel-item img{
    
    height:500px;

}
.carousel-caption{
    bottom: 200px;
    z-index:2;
    
}
.carousel-caption h5{
    font-size:40px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1b334a;
    
}
.about-image{
    max-width: 100%;
}
.text-justify{
    text-align: justify;
}
.skills{
    height: 40px;
    /* display:block; */
    /* background: none;
    border-radius: 0; */
}
.progress-bar{
    /* background-color: #1b334a; */
    background-color: #6aabb1;
}
.btn{
    background-color: #224362;
    color:white;

}
.btn:hover{
    background-color: #1b334a;
    color:white;
}

.icon-color{
    color: white;
}

.footer{
    background-color: #224362;
    color:white;
    height:80px;

}
.location-color{
    color: #224362;

}
/* @media all and (min-width:) */
